body {
    	margin: 0;
    	padding: 0;
	background-color: white;
	font-family: system-ui;
    	width: 98%;
    /*height: 95vh;*/
}

header {
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#date-display {
	font-size: 1.2em;
	margin-top: 1%;
}

#list-switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-container {
    position: relative;
    width: 70%;
    /*height: 75vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-photo {
    /*max-width: 70vh;
    max-height: 70vh;*/
    object-fit: contain;
}

.arrow {
	border-style: solid;
	border-width: 0.05em 0.05em 0 0;
	content: '';
	display: inline-block;
	height: 0.95em;
	position: absolute;
	transform: rotate(-45deg);
	/*vertical-align: top;*/ 
	width: 0.95em;
    top: 50%;
    /*position: absolute;
    transform: translateY(-50%);
    font-size: 2em;
    padding: 1vw;*/
    color: #757575;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    	left: -4vw;
	transform: rotate(-135deg);
}

.right-arrow {
    	right: -4vw;
	transform: rotate(45deg);
}

.arrow.hidden {
    visibility: hidden;
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
